@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    object-fit: cover;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    gap: 20px
}

.card {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex: 1 1 250px;
    flex-direction: column;
    align-self: normal;
}

.card-titulo {
    color: rgba(0, 0, 0, 0.459);
    margin-bottom: 10px;
    text-align: center;
}

.card-descricao {
    margin-bottom: 20px;
}

span {
    color: rgb(143, 143, 143);
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
}